*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
   background-color: #fff;

  }
  nav .logo{
    color: white;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 50px;
  }
  nav{
    height: 80px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.332);
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  .header3{
    height: 550px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.div1{
    background-color:lightgrey;
    border: 0.5px solid rgb(255, 255, 255);
    height: 92px;
}
.div2{
    background-color: #c7d2a473 ;
    /* border: 2px solid pink; */
    height: 36px;
}
.div1 a{
    position: relative;
    top: 20px;
    left: 30px;
    color: rgb(0, 30, 254);
    font-size: 24px;
    text-decoration: none;
    font-weight: bolder;
}
.div2 a{
    position: relative;
    top: 10px;
    left: 15px;
    color: rgb(255, 3, 3);
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
.div{
    position: relative;
    top: 150px;
    right: 400px;
    width: 250px;
    height: 150px;
    /* border: 2px solid blueviolet; */
    background-color: #fff;
    margin: 10px;
    padding: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.content-table{
  font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica;
border-collapse: collapse;
width: 50%;
margin: 0;
margin-left:auto;
margin-right:auto;

}
td,th {
  border: 1px solid grey;
  padding: 10px;
  margin: 0;
  text-align: left;
  background-color:rgb(232, 237, 232);
  height: 20px;
  width: 50%;
}

.content-table
{
text-align: center;
}