<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>hms.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>hms.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Studenthome</servlet-name>
        <servlet-class>hms.Studenthome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminHome</servlet-name>
        <servlet-class>hms.adminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Studentprofile</servlet-name>
        <servlet-class>hms.Studentprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addstudent</servlet-name>
        <servlet-class>hms.Addstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addroom</servlet-name>
        <servlet-class>hms.Addroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addfeedetail</servlet-name>
        <servlet-class>hms.Addfeedetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registerroom</servlet-name>
        <servlet-class>hms.Registerroom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>hms.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAdminDetail</servlet-name>
        <servlet-class>hms.ViewAdminDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resetpass</servlet-name>
        <servlet-class>hms.Resetpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Svalid</servlet-name>
        <servlet-class>hms.Svalid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Avalid</servlet-name>
        <servlet-class>hms.Avalid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>Sedit.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sedit</servlet-name>
        <servlet-class>hms.Sedit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sdelete</servlet-name>
        <servlet-class>hms.Sdelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Studenthome</servlet-name>
        <url-pattern>/Studenthome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminHome</servlet-name>
        <url-pattern>/adminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Studentprofile</servlet-name>
        <url-pattern>/Studentprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addstudent</servlet-name>
        <url-pattern>/Addstu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addroom</servlet-name>
        <url-pattern>/Addroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addfeedetail</servlet-name>
        <url-pattern>/Addfeedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registerroom</servlet-name>
        <url-pattern>/Registerroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/Changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAdminDetail</servlet-name>
        <url-pattern>/ViewAdminDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resetpass</servlet-name>
        <url-pattern>/Resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Svalid</servlet-name>
        <url-pattern>/Svalid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Avalid</servlet-name>
        <url-pattern>/Avalid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sedit</servlet-name>
        <url-pattern>/Sedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sdelete</servlet-name>
        <url-pattern>/Sdelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
